body{
display: flex;
	background-image: url("stephen-oliver-202557.jpg")
}

.test {
	display:flex;
	flex-direction: column;
}
.page{
	border-radius: 1px;
}
.titre{
	font-family: "Architects+Daughter" cursive;
	font-size:25px;
	font-style: italic;
	font-color:#AB0000;
	font-color:;
	display: flex;
	align-items: center;
	justify-content: space-around;
	


}
.titre h5{
	display: flex;
	justify-content: space-around;

}
.infos{
	font-family: 'Lobster' cursive;
	font-size: 22px;

}

	


}
.section h3{
	font-family:;
 	font-style:; 
 	font-size:;
	display-flex:;

}
.devers{
	

	
}