body{
display: flex;
	background-image: url("stephen-oliver-202557.jpg")
}


.page{
	border-radius: 1px;
}
.titre{
	font-family: "Architects+Daughter" cursive;
	font-size:25px;
	font-style: italic;
	font-color:#AB0000;
	font-color:;
	display: flex;
	align-items: center;
	justify-content: space-between;
	


}

.infos{
	font-family: 'Lobster' cursive;
	font-size: 22px;

}
.img{
	


}
.section{
	

}
.devers{
	

	
}